body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #87CEEB;
    overflow: hidden;
    user-select: none;
}

#single-container {
    background: url(../images/homeBG.png) 0 0 / cover;
    overflow: hidden;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

#single-container h1 {
    padding: 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border-radius: 10px;
    height: 40px;
    margin-bottom: 70px;
    color: rgb(61, 12, 80);
}

#single-container button {
    margin-top: 20px;
    padding: 10px 20px;
    border: 1px solid blue;
    border-radius: 8px;
    background-color: white;
    color: blue;
    font-size: 20px;
    cursor: pointer;
}

#test-duck {
    position: absolute;
    top: -40px;
    left: -40px;
    transform: rotateZ(135deg);
    width: 140px;
    height: 140px;
    transition: transform 0.2s;
}

#single-container a {
    margin-top: 20px;
    padding: 10px 20px;
    border: 1px solid blue;
    border-radius: 8px;
    background-color: white;
    color: blue;
    text-decoration: none;
    font-size: 20px;
    cursor: pointer;
}

.time-adjust {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#adjustTimeBtn{
    border: none !important;
    border-radius: 18px !important;
    background-color: transparent !important;
    color: white !important;
    text-decoration: none;
    font-size: 16px !important;
    cursor: pointer;
}

#timeForm {
    margin-top: 20px;
}

#timeForm label {
    color: #fff;
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

#timeForm input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.player-dialog {
    position: absolute;
    top: 50px;
    left: calc(50% - 272px);
    width: 300px;
    margin: 0 0;
    padding: 30px 120px;
    border: 3px solid #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    animation: none;
    text-align: center;
    font-family: Arial, sans-serif;
    z-index: 1000;
}

.player-dialog h2 {
    margin: 0;
    font-size: 24px;
}

.blueD {
    background-color: #3498db;
}

.redD {
    background-color: #e74c3c;
}

@keyframes shake {
    0% { transform: translate(4px, 4px) rotate(0deg); }
    10% { transform: translate(-4px, -2px) rotate(-4deg); }
    20% { transform: translate(-3px, 0px) rotate(4deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(4px, -4px) rotate(4deg); }
    50% { transform: translate(-4px, 2px) rotate(-4deg); }
    60% { transform: translate(-3px, 4px) rotate(0deg); }
    70% { transform: translate(3px, 4px) rotate(-4deg); }
    80% { transform: translate(-4px, -4px) rotate(4deg); }
    90% { transform: translate(4px, 2px) rotate(0deg); }
    100% { transform: translate(4px, -2px) rotate(-4deg); }
}

/* Game Container*/

#multi-game-container {
    width: 100%;
    height: 100%;
    flex-direction: column;
    background: url(../images/backgroundPlay.png) 0 0 / cover;
    overflow: hidden;
}

#multi-game-container img {
    width: 200px;
    height: auto;
}

#click-space {
    position: absolute;
    top :0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
}


.foreground{
    z-index: 4;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100% !important;
    height: 15% !important;
    height: auto;
    overflow: hidden;

}

@keyframes roll {
    100%{
        transform: rotate(-360deg);
    }
}

.scoreBoard{
    position: absolute;
    display: flex;
    justify-content: space-around;
    width: 100%;
    border-radius: 15px;
    top: 20px;
}

.scoreBoard h1{
    color: aliceblue;
    scale: 1.5;
    letter-spacing: 5px;
    margin-block: 0.5rem;
}

.scoreBoard h2{
    color: red;
    scale: 1.8;
    letter-spacing: 4px;
}

.scoreBoard h3{
    letter-spacing: 2px;
    margin-block: 0 8px;
}

.kills {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 1.8rem;
    background-color: rgba(0, 254, 30, 0.5);
    padding: 15px 30px;
    width: 140px;
    border-radius: 15px;
}

#game-timer {
    font-size: 40px !important;
    color: red;
}

.score-duck{
    width: 60px !important;
}

.kill-image{
    width: 400px !important;
    position: absolute;
    height: auto!important;
    left: calc(50% - 200px);
    display: none;
    top: 6%;
}

.bullets {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    bottom: 40px;
    z-index: 5;
}

.bullets div {
    padding: 0 50px;
    
}

.bullet1, .bullet2 {
    width: 50px !important;
    height: auto !important;
}

.reload {
    position: absolute;
    bottom: 40px;
    z-index: 5;
    width: 120px !important;
    height: 120px !important;
    overflow: hidden;
    animation: roll 2s infinite linear;
}

.reload-player1 {
    left: 100px;
    visibility: hidden;
}

.reload-player2 {
    right: 100px;
    visibility: hidden;
}



/* Result */



#result {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: url('../images/homeBG.png') 0 0 / cover;
}

.col {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 70%;
    background-color: rgba(0, 254, 30, 0.5);
    border-radius: 25px;
    border: 2px solid white;
}

#game-over {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.player-final {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
}

.player-final h2{
    margin-block: 0;
}

.player-final img {
    width: 140px;
    height: auto;
}

#result .hunter {
    position: absolute;
    top: calc(50% - 275px);
    left: calc(50% - 250px);
    width: 100px;
    height: auto;
    overflow: hidden;
}

#result .white-line {
    width: 2px;
    height: 90%;
    background-color: white;
}

.resultOptions {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 15px;
}

.resultOptions .btn {
    display: inline-block;
    padding: 10px 20px;
    text-decoration: none;
    background-color: #e74c3c; 
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: filter 1.3s ease;
    filter: drop-shadow(2px 4px 6px rgba(17, 16, 16, 0.8));
}

.resultOptions .btn:first-child {
    background-color: #b1c314;
    filter: grayscale(5px);
}

.resultOptions .btn:last-child {
    background-color: #3498db;
}